<table id="users_list1" class="table table-striped table-bordered table-condensed" title="Users list" data-source="<%= users_url(format: "json") %>" >
	<thead>
		<tr>			
			<th> Full Name </th>
			<th> Phone Number </th>
			<th> Email </th>
			<th> Last Signed In</th>			
		</tr>
	</thead>
	
	<!-- <tfoot>
		<tr>
			<td colspan="8" class="pagination"><%#= paginate @users%></td>
		</tr>
	</tfoot> -->
</table>