
<!-- <div class="box">
	<p>
		<strong>Last Signed In : </strong> <%#= @userdashboard.last_sign_in_at if current_user %>
		<br />
		<strong>IP Address : </strong> <%#= @userdashboard.last_sign_in_ip if current_user %>
	</p>
</div> -->

<div>
	<%= render 'userslist'%>
</div>